#title{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 1% 10% 8%;
}
.brandTitle p{
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    font-family:"Ubuntu";
    font-size: 250%;
    font-weight: bold;
    color: rgba(245, 245, 245, 0.808) ;
}
.brandTitle img{
    vertical-align: 0;
}
.navbar{
    padding: 2.4rem 0 4.5rem 0;
}
.nav-link{
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
}
.download-btn{
    margin: 5% 3% 5% 0;
}
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 6%;
}
.featureIcons{
    color: #ef8172;
    margin-bottom: 1rem;
}
.featureIcons:hover{
    color: #ff4c68;
}
h1,h2{
    color: white;
    font-family: "Montserrat-Black";
    font-size: 300%;    /* 3rem=3*16=48px; 16px=100% therefore 48px=300% */
    font-weight: bold;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat-Black";
    font-weight: bold;
}
p{
    color: #8f8f8f;
}
.form-inline{
    flex-flow: nowrap;
}
#testimonials{
    /* padding: 6% 15%; */
    font-family: "Montserrat-Black";
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: #ff4c68;
}
.testimonials-img{
    width: 12%;
    height: 12%;
    border-radius: 50%;
    margin: 3rem 2rem 1rem;
}
#press{
    background-color: #ff4c68;
    padding-bottom: 5%;
    padding-top: 1%;
    text-align: center;
}
.pressIcons{
    width: 15%;
    height: 5%;
}

.carousel-item{
    padding: 7% 15%;
}
#pricing{
    text-align: center;
    padding:3% 2%;
}
#pricing h2{
    color:black;
}
.pricing-card{
    padding: 3% 4%;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 3% 15% 3%;
}
#cta h3{
    padding: 5% 25% 0%;
    color: white;
}
/* using media query for more responsiveness for defined screen sizes */
@media (min-width:994px)
{
    #title{
        text-align: center;
    }
    #title_iphonedog img{
        transform: rotate(26deg);
        object-fit:fill;
        position: absolute;
        width: 280px;
        height: 550px;
        left: 15%;
    }
}
@media (max-width:993px){
    #title{
        text-align: center;
    }
    #title_iphonedog img{
        transform: rotate(0deg);
        position: static;
        width: 250px;
        height: 450px;
    }
}
#footer{
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}
.socialMediaIcons{
    word-spacing: 15px;
}